<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614715495051-m32m5kgit2hsq0rbth6jss9egkm8ms0g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614715495051-m32m5kgit2hsq0rbth6jss9egkm8ms0g</string>
	<key>API_KEY</key>
	<string>AIzaSyDgcI4UoQ9z8Q93XaQskaf4yDT64BlxkR8</string>
	<key>GCM_SENDER_ID</key>
	<string>614715495051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManager</string>
	<key>PROJECT_ID</key>
	<string>verticalsols-tasks</string>
	<key>STORAGE_BUCKET</key>
	<string>verticalsols-tasks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614715495051:ios:652aa74cda5010ef73fa8e</string>
</dict>
</plist>